#page-top {
  background-image:url("images/ksdle.jpg") ;
  background-repeat: no-repeat;
  background-size: 1450px 600px;
  background-position-y: 30px;
  padding-top: 20px;

  
 
  }
  body{
    height: 1000px;
  }
  img{
    margin-top: -10px;

  }
  #mainNav{
    background-color: white;
  }
  li a {
    color: black ;
    font-family: "Lucida Console", "Courier New";
    font-size: 18px ;
    text-align: left ;
    float: right;
    margin-top: 10px;
    text-decoration: underline;
  
      }
  
li a:hover {
    color: blue;
    
  }