.navbar-nav{
  background-color:#ffff ;
}

      li a {
        color: black ;
        font-family: "Lucida Console", "Courier New";
        font-size: 14px ;
        text-align: left ;
        float: right;
        text-decoration: underline;
        font-weight: bold;
          }
      
    li a:hover {
        color:#181715;
      }

       
   